Application/Data/settings.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Application" type="ApplicationType"/>
  <xs:complexType name="ApplicationType">
    <xs:sequence>
      <xs:element type="DBType" name="DB"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="Name"/>
    <xs:attribute type="xs:string" name="Controller"/>
    <xs:attribute type="xs:string" name="Action"/>
    <xs:attribute type="xs:string" name="State"/>
  </xs:complexType>
  <xs:complexType name="DBType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="Name"/>
        <xs:attribute type="xs:string" name="Manager"/>
        <xs:attribute type="xs:string" name="Host"/>
        <xs:attribute type="xs:string" name="User"/>
        <xs:attribute type="xs:string" name="Password"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>